---
// GalleryGrid component - images are loaded dynamically via gallery.ts island
---

<section class="gallery-grid" id="gallery-grid">
  <!-- Images will be loaded dynamically by gallery.ts -->
</section>
