---
// UnsplashImageGrid component - images are loaded dynamically via unsplash-image-explorer.ts island
---

<section class="gallery-grid" id="gallery-grid">
  <!-- Images will be loaded dynamically by unsplash-image-explorer.ts -->
</section>
