<div id="download-overlay" class="overlay hidden">
  <div class="overlay-content">
    <div class="frames">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>

    <h2>Creating your collage</h2>
    <p>Turning moments into a single story</p>
  </div>
</div>
